.wrapper {
    margin-left: 40px;
}

.logo {
    margin-left: 40px;
}
#hero-img {
    margin-top: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    margin-top: auto;
    box-shadow:5px  10px 25px #b9b8b8;
}

.category {
    text-decoration: none;
    color: black;
    position: absolute;
    left: 160px;
    top: 34px;
}
.material-icons-outlined {
    color: black;
    margin-right: 44px;
    margin-left: 40px;
    margin-top: 14px;
}
#language1 {
    color: black;
    border: 2px solid black;
    padding: 8px;
    margin-right: 40px;
    margin-top: 1px;
   
}
.header-button1 {
    width: 450px;
    text-align: left;
    padding: 16px 14px;
    border-radius: 24px;
    border: 1px solid black;
    outline: none;
    background-color: rgb(244, 244, 245);
    position: absolute;
    left: 250px;
    top: 20px;
}
.header-button2 {
    border: 2px solid black;
    padding: 12px 20px;
    position: absolute;
    right:200px;
    top: 24px;
}

.header-button3 {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 12px 20px;
    position: absolute;
    right:100px;
    top: 24px;
}
.header-link1 {
    text-decoration: none;
    color: black;
    position: absolute;
    top: 36px;
    left: 712px;
}
.header-link2 {
    text-decoration: none;
    color: black;
    position: absolute;
    top: 36px;
    left: 840px;
}
.header p {
    font-size: 14px;
}

.hero-container {
    position: absolute;
    top: 140px;
    background-color: white;
    width: 34%;
    padding-left: 24px;
    margin-left: 80px;
}

.hero-container h2 {
    font-size: 36px;
    margin-bottom: 0px;
}

.hero-container p {
    font-size: 22px;
    margin-top: 8px;
}

h2 {
    font-size: 36px;
    margin-bottom: 0px;
}

button {
    padding: 10px 14px;
    background-color: white;
    outline: none;
}

p {
    font-size: 20px;
    margin-top: 12px;
}

.special {
    margin-bottom: 0px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 20px 0;
}

.link {
    text-decoration: none;
    color: rgb(108, 108, 108);
    font-size: 18px;
}

.Expand-textcontainer {
    border: 2px solid rgb(201, 201, 201);
    padding: 20px 40px 40px;
    margin-right: 40px;
}

.expand-text {
    width: 80%;
    margin-bottom: 28px;
}

.expand-text h3 {
    font-size: 22px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.expand-text p {
    font-size: 18px;
    margin-top: 8px;
}

.tutorial {
    border: none;
    width: 19%;
}

.tutorial_ {
    width: 20%;
}

.tutorial-text h4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.tutorial-text p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.img {
    margin-top: 0px;
    border: 2px solid rgb(201, 201, 201);
}

.price {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 12px;
}

.mark {
    padding: 4px 8px;
}

.tutorial-wrapper {
    display: flex;
    justify-content: space-between;
}

.skills {
    display: flex;
    background-color: rgb(244, 244, 245);
    padding: 40px;
    margin: 60px 0 30px;
    justify-content: space-between;
}

.skill-1 {
    width: 20%;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 1210px;
    left: 100px;
}

.skill-2 {
    width: 20%;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 1210px;
    left: 525px;
}
#icon1 {
    position: absolute;
    top: 1224px;
    left: 40px;
}

#icon2 {
    position: absolute;
    top: 1224px;
    left: 465px;
}

.skill-3 {
    width: 25%;
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    top: 1210px;
    left: 930px;
}

#icon3 {
    position: absolute;
    left: 870px;
    top: 1224px;
    background: black;
    color: white;
    border-radius: 50%;
    padding: 4px 6px;
}

.sec2student-container {
    padding: 4px 8px;
    font-size: 22px;
    margin: 0px 40px;
    justify-content: space-around;
}

.sec2tutorial-text h4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.sec2tutorial-text p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.sec2price {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 4px;
}

.sec2mark {
    padding: 4px 8px;
    font-size: 16px;
}

.sec2tutorial {
    width: 18%;
}

.sec2tutorial-i {
    width: 18%;
}

.sec2tutorial-ii {
    width: 18%;
}

.sec2tutorial-iii {
    width: 18%;
}

.sec2tutorial-iv {
    width: 18%;
}

.third-section {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 60px;
    padding-top: 40px;
}

.third-section1 {
    position: absolute;
    left: 350px;
    top: 1840px;
}

.third-section2 {
    position: absolute;
    left: 650px;
    top: 1840px;
}

.third-section3 {
    position: absolute;
    left: 950px;
    top: 1840px;
}

.third-section h3 {
    font-size: 22px;
}

.third-section h4 {
    font-size: 20px;
}

.third-section a {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    color: rgb(101, 0, 195)
}

.third-section p {
    font-size: 16px;
    margin-bottom: 30px;
}

.button2 {
    padding: 10px 14px;
    background-color: rgb(246, 246, 250);
    outline: none;
    margin-left: 40px;
    border: 2px solid black;

}

.thirdsection-wrapper {
    background-color: rgb(246, 246, 250);
    padding-bottom: 60px;
}

.teams {
    text-align: center;
    margin: 100px 0;
}

.teams h2 {
    font-size: 28px;
}

.teams p {
    color: rgba(0, 0, 0, 0.724);
}

.teams-img {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.udemy-business {
    display: flex;
}

.udemy-buslogo {
    margin-left: 180px;
}

.bus-list {
    position: absolute;
    margin-left: 180px;
    top: 2570px;
    width: 34%
}

.bus-list h2 {
    margin-top: 48px;
}

.button3 {
    padding: 10px 14px;
    background-color: black;
    outline: none;
    margin-left: 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid black;
    margin-right: 0px;
}

.button4 {
    padding: 10px 14px;
    outline: none;
    margin-left: 40px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid black;
    margin-left: 2px;
}

.bus-list li {
    font-size: 22px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.803);
}

.udemy-buswrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 180px;
}

.udemybus-container {
    display: flex;
}

.bus-buttons {
    position: absolute;
    margin: 0 140px;
    margin-top: 340px;
}

.instructor-section {
    width: 38%;
    margin-right: 120px;
    margin-top: 70px;

}

.button5 {
    padding: 10px 14px;
    outline: none;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid black;
    margin-left: 2px;
}

.instructor-wrapper {
    display: flex;
    margin: 100px 140px;
    justify-content: space-between;
}

.footer a {
    display: block;
    line-height: 180%;
    text-decoration: none;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.885);
    padding: 40px;
}

.copyright {
    display: flex;
    background-color: rgba(0, 0, 0, 0.885);
    color: white;
    justify-content: space-between;
    padding: 20px 40px;
}
footer .material-icons {
margin-top: 4px;
justify-content: space-between;
margin-right: 4px;
font-size: 18px;
}
.footer_botton {
    background-color: black;
    color:white;
    border: 1px solid white;
    padding: 8px 50px 8px 8px;
    font-size: 18px;

    
}